extends ../base

block variables
    - var title = 'Blog'

block content
    h1 Blog
    ul
        li
            h2 Article 1
            p text 1
        li
            h2 Article 2
            p text 2
