extends ../base

block append variables
  - var title = 'Блог'
  - var description = 'Статьи, которые я написал'
  - 
    var hardcode_data = [
      {name: 'post 1', value: 'post body 1', date: '01-01-1970'},
      {name: 'post 2', value: 'post body 2', date: '01-01-1970'},
      {name: 'post 3', value: 'post body 3', date: '01-01-1970'},
    ]

block content
  .blog-container
    main.blog__content
      nav.content__nav
        ul.nav__list
          each item in hardcode_data
            li.nav__item #{item['name']}
      section.content__article-list
        each item in hardcode_data
          article.content__article
            .posted-at #{item['date']}
            p #{item['value']}
  
