extends ../base

block variables
  - var title = 'Добро пожаловать'

block content
  .container.welcome-container
    section.welcome__authorize
      button.authorize__btn Авторизоваться

    section.welcome__welcome
      .user.welcome__user
        include ../parts/user_pic
        include ../parts/user_description         

      .welcome__socials
        include ../parts/socials
              
      .welcome__btn-row
        a.btn-row__btn(href="/my_works.html") Мои работы
        a.btn-row__btn(href="/about.html") Обо мне
        a.btn-row__btn(href="/blog.html") Блог
    
    section.welcome__footer
      p @ Дмитрий Селифонов. Создано с любовью в LoftSchool.
    