@import "_vars";

.header{
  background-image: url("/assets/images/bcg-h.png");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;  
  color: $font-color;

  .header__top-row{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
      "left  center center center center right";
    align-items: center;

    .header-socials{
      grid-area: left;
    }

    .header-burger{
      grid-area: right;
      justify-self: right;

      .burger__btn{
        background-color: transparent;
        border: none;
      }
    }

    .icon{
      cursor: pointer;
      fill: white;
      &:hover{
          fill: $buttons-green-hover;
      }
    }
  }

  .header__title-row{
    text-align: center;

    .header-title{
      font-size: 63px;
      text-transform: uppercase;
      margin: 20px 0;
    }
  }
}