@import "_vars";

.blog-container{
  color: $blog-font-color;
  overflow: hidden;

  .blog__header{
    padding-bottom: 50px;

    .header__title-row{
      position: relative;
  
      .blog__header-svg{
        position: absolute;
        top: -50px;
        left: calc(50% - 150px);
        fill: white;
        opacity: 0.2;
        width: 302.193px;
        height: 208.012px;
      }
    }
  }

  .blog__content{
    position: relative;
    display: grid;
    grid-template-areas: 
      "left center center right";
    grid-template-columns: repeat(4, 1fr);
    padding-top: 40px;

    &:before{
      position: absolute;
      display: block;
      top: -155px;
      background-image: url("/assets/images/bg.svg");
      content: ' ';
      display: block;
      width: 101%;
      height: 320px;
      background-size: 100% 100%;
    }

    .content__nav{
      grid-area: left;
      z-index: 5;
    }

    .content__article-list{
      z-index: 5;
      grid-area: center;

      .content__article{
        .posted-at{
          color: $green-main;
        }
      }
    }
  }
}