.header__top-row
  .header-socials
    include socials 
  .header-burger
    button.burger__btn
      svg.icon.icon-burger(width="40px" height="35px" )
        use(xlink:href=`assets/images/sprite.svg#burger`)
block details