block variables

header.header
  .header__top-row
    .header-socials
      include socials 
    .header-burger
  .user.header__user
    .user__pic
      img.user__pic-img(src='/assets/media/user.jpg')
  .header__title-row
    h1.header-title #{title}
    p.header-description #{description}