.container
    ul#slides
      li.slide.showing
      li.slide
      li.slide
    .buttons
        button.controls.prev#previous 
          svg.controls__arrow(width="26" height="16")
            use(xlink:href='assets/images/sprite.svg#arrow-up')
        button.controls.next#next 
          svg.controls__arrow(width="26" height="16")
            use(xlink:href='assets/images/sprite.svg#arrow-up')